**/__pycache__
**/.pytest_cache
**/.venv
**/.env*
**/venv
**/env
**/node_modules
**/dist
**/build
**/.vite
**/npm-debug.log
**/yarn-error.log
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log
**/models
**/*.db
**/*.sqlite
**/.DS_Store
**/Thumbs.db
